<label for="participating-org">
  <div>
    <span class="tooltip-ui" data-toggle="tooltip" title="Find activities where the speficied entity is listed as a participating organisation.">
      Select participating organisation
    </span>
  </div>
</label>
<div class="clearfix"></div>
<select data-placeholder="Choose a participating organisation..." multiple class="chosen-select form-control" id="participating-org" name="participating-org[]">
  <option value="">- None -</option>
  {<option value="">- None -</option>
  {% include 'org_selection.html' %}
</select>
