<div class="row">
  {% include 'alerts.html' %}
</div>

<form id="qb-form" action="index.php" method="post" target="_self" onsubmit="">

  <h2>What information are you looking for?</h2>
  <p>These options let you filter the information you are looking for. Additional filters <a href="http://datastore.iatistandard.org/docs/api/#filtering">are available</a> by querying the Datastore manually.</p>

  <div class="step-section">
    <div class="title">
      <span class="step">1</span>
      <h3>Select the data source</h3>
    </div>
    <div class="clearfix"></div>

    <div class="row form-group">
      {% include 'reporting_org.html' %}
    </div>

    <div class="row form-group">
      {% include 'reporting_org_type.html' %}
    </div>
  </div>

  <div class="step-section">
    <div class="title">
      <span class="step">2</span>
      <h3>Select the sector</h3>
    </div>
    <div class="clearfix"></div>

    <div class="row form-group">
      {% include 'sector.html' %}
    </div>
  </div>

  <div class="step-section">
    <div class="title">
      <span class="step">3</span>
      <h3>Select recipient location</h3>
    </div>
    <div class="clearfix"></div>

    <div class="row form-group">
      <fieldset>
        <legend>Select EITHER a country OR a region</legend>
        <p class="explaination-text">Choosing a Region AND a Country will not return data as most publishers report to either a Country or a Region.</p>
        {% include 'country.html' %}
        {% include 'region.html' %}
      </fieldset>
    </div>
  </div>


  <div class="step-section">
    <div class="title">
      <span class="step">4</span>
      <h3>Select additional fields</h3>
    </div>
    <div class="clearfix"></div>

    <div class="row form-group">
      <div class="col-auto">
        {% include 'start_date.html' %}
      </div>
      <div class="col-auto">
        {% include 'end_date.html' %}
      </div>
    </div>

    <div class="row form-group">
      {% include 'transaction_provider_org.html' %}
    </div>

    <div class="row form-group">
      {% include 'participating_org.html' %}
    </div>
  </div>


  <div class="step-section">
    <div class="title">
      <span class="step">5</span>
      <h3>How would you like to view this information?</h3>
    </div>
    <div class="clearfix"></div>
    <p>These options allow you to configure the way in which your data is disaggregated, making different sorts of analysis possible.</p>

    <div class="form-row">
      <div class="col">
        {% include 'format.html' %}
      </div>

      <div class="col">
        {% include 'grouping.html' %}
      </div>

      <div class="col">
        {% include 'sample_size.html' %}
      </div>
    </div>
  </div>

  <br/>
  <div class="form-row">

    <div class="clearfix"></div>

    <div class="col submit-buttons">
      <noscript><button class="btn btn-primary" type="submit">Build Query</button></noscript>
      <button class="btn btn-secondary" type="submit" name="reset" value="Reset" id="reset">Reset</button>
    </div>
  </div>

</form>

<div style="width:100%;height:1em"></div>

<div style="display:none;" class="alert alert-success" id="js-query-link" role="alert">
  <strong>Your link:</strong> <a id="query-link" href="http://datastore.iatistandard.org/api/1/access/activity.csv">http://datastore.iatistandard.org/api/1/access/activity.csv</a> <span id="preview-link-wrapper">(<a id="preview-link" href="http://preview.iatistandard.org/" target="_blank" rel="noopener noreferrer">Preview as XML</a>)</span>
</div>
