<label for="sample-size">
  <div>Choose sample size
    <span aria-label="(Required field)"></span>
  </div>
</label>
<ul id="qb-sample-size-list">
  <li>
    <label>
      <input type="radio" name="sample-size" value="50 rows" id="sample-size-1" aria-label="50 rows"
      {% if not size or (size and size == "50 rows") %}
        checked="checked"
      {% endif %}
      />
      <span class="tooltip-ui" data-toggle="tooltip" title="Preview your selection by viewing only the first 50 rows of data.">
        50 rows
      </a>
    </label>
  </li>
  <li>
    <label>
      <input type="radio" name="sample-size" value="Entire selection" id="sample-size-2" aria-label="Entire selection"
      {% if size and size == "stream=True" %}
        checked="checked"
      {% endif %}
      />
      <span class="tooltip-ui" data-toggle="tooltip" title="View all of the data matching your query.">
        Entire selection
      </a>
      <p class="explaination-text"><strong>WARNING:</strong> Depending on the query, this may cause the query to take a long time to return your data.</p>
    </label>
  </li>
</ul>
