<label for="start_date">
  <div>
    <span class="tooltip-ui" data-toggle="tooltip" title="Specify the range of activity start dates that you are looking for (defaults to all).">
      Select start date
    </span>
  </div>
</label>
<div class="clearfix"></div>
<div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
  <div class="input-group-addon">
    <span class="tooltip-ui" data-toggle="tooltip" title="Identify activities with start dates after the specified date.">
      After
    </span>
  </div>
  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="start-date__gt" name="start-date__gt" value="{{ start_date__gt }}">
  </input>
</div>
<div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
  <div class="input-group-addon">
    <span class="tooltip-ui" data-toggle="tooltip" title="Identify activities with start dates before the specified date.">
      Before
    </span>
  </div>
  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="start-date__lt" name="start-date__lt" value="{{ start_date__lt }}">
  </input>
</div>
