<label for="transaction_provider-org">
  <div>
    <span class="tooltip-ui" data-toggle="tooltip" title="Find activities where at least one transaction is funded by the specified entity.">
      Select transaction provider org
    </span>
  </div>
</label>
<div class="clearfix"></div>
<select data-placeholder="Choose a transaction provider organisation..." multiple class="chosen-select form-control" id="transaction_provider-org" name="transaction_provider-org[]">
  <option value="">- None -</option>
  {% include 'org_selection.html' %}
</select>
