<div class="col">
  <h1 dir="ltr">
    IATI Datastore CSV Query Builder
    <sup><span class="badge badge-warning">Alpha</span></sup>
  </h1>
  <p>This tool allows you to build common queries to obtain data from the <a href="http://datastore.iatistandard.org/docs/">IATI Datastore</a> in CSV format.</p>
  <p>You may create queries based on who is reporting the information, where the activity is happening, and the sector that the activity occurs in. This may then be configured to show individual activities, transactions or budgets.</p>
</div>
