<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IATI Datastore CSV Query Builder (Alpha Version)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="static/css/custom.css" type="text/css" rel="stylesheet">
    <link href="static/css/bootstrap-chosen.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">
  </head>
  <body dir="ltr">
    <div class="container">
      <div id="qb-top"></div>

      <div class="header row">
        <div class="col">
          <h1 dir="ltr">
            IATI Datastore CSV Query Builder
            <sup><span class="badge badge-warning">Alpha</span></sup>
          </h1>
          <p>This tool allows you to build common queries to obtain data from the <a href="http://datastore.iatistandard.org/docs/">IATI Datastore</a> in CSV format.</p>
          <p>You may create queries based on who is reporting the information, where the activity is happening, and the sector that the activity occurs in. This may then be configured to show individual activities, transactions or budgets.</p>
        </div>
      </div><!-- end class="header" -->

      <div class="query-builder">
        <div class="row"><!-- result -->
          {% if api_link %}
            <div class="alert alert-success" role="alert">
              <strong>Your link:</strong> <a href="{{ api_link }}">{{ api_link|escape }}</a>
            </div>

            {% if notice_message %}
              <div class="alert alert-warning" role="alert">
                <strong>Warning:</strong> {{ notice_message }}
              </div>
            {% endif %}

          {% elseif error_message %}
            <div class="alert alert-danger" role="alert">
              <strong>Error:</strong> {{ error_message }}
            </div>
          {% endif %}
        </div>

        <form id="qb-form" action="index.php" method="post" target="_self" onsubmit="">

          <h2>What information are you looking for?</h2>
          <p>These options let you filter the information you are looking for. Additional filters <a href="http://datastore.iatistandard.org/docs/api/#filtering">are available</a> by querying the Datastore manually.</p>

          <div class="step-section">
            <div class="title">
              <span class="step">1</span>
              <h3>Select the data source</h3>
            </div>
            <div class="clearfix"></div>

            <div class="row form-group">
              <label for="reporting-org">
                <div>
                  <span class="tooltip-ui" data-toggle="tooltip" title="The reporting organisation is the publisher of the IATI data. You would choose this filter to analyse a particular donor or agency's data. This might typically be used in conjunction with a country and/or a sector.">
                    Select reporting organisation (eg UK DFID = GB-GOV-1)
                  </a>
                </div>
                <div dir="ltr"></div>
              </label>
              <div class="clearfix"></div>
              <select data-placeholder="Choose a reporting organisation..." multiple class="chosen-select form-control" id="reporting-org" name="reporting-org[]">
                {{ include('include/reporting_org.html') }}
              </select>
              <p class="explaination-text"><strong>WARNING:</strong> The Datastore contains activities reported by both primary and secondary sources. A secondary source, such as the UNOCHA Financial Tracking Service (FTS), reports data it holds about other agencies’ activities. An agency may well report activities to both IATI and FTS, who in turn reports the same activities to IATI.</p>
            </div>

            <div class="row form-group">
              <label for="reporting-org.type">
                <div>
                  <span class="tooltip-ui" data-toggle="tooltip" title="This allows you to filter by the type of organisation. To access data on NGOs only you would select International NGO and/or National NGO and/or Regional NGO.">
                    Select type of reporting organisation (eg. INGO = 21)
                  </a>
                </div>
              </label>
              <div class="clearfix"></div>
              <select data-placeholder="Choose a reporting organisation type..." multiple class="chosen-select form-control" id="reporting-org.type" name="reporting-org.type[]">
                {{ include('include/reporting_org_type.html') }}
              </select>
            </div>
          </div>

          <div class="step-section">
            <div class="title">
              <span class="step">2</span>
              <h3>Select the sector</h3>
            </div>
            <div class="clearfix"></div>

            <div class="row form-group">
              <label for="sector">
                <div>
                  <span class="tooltip-ui" data-toggle="tooltip" title="Choose the sector or sectors you are looking for.">
                    Select sector (eg Basic Health Care = 12220)
                  </a>
                </div>
              </label>
              <div class="clearfix"></div>
              <select data-placeholder="Choose a sector..." multiple class="chosen-select form-control" id="sector" name="sector[]">
                {{ include('include/sector.html') }}
              </select>
              <p class="explaination-text">For more detail of what the sectors are, see the <a href="http://iatistandard.org/202/codelists/Sector" rel="noopener noreferrer" target="_blank">DAC 5 Digit Sector</a> codelist.</p>
            </div>
          </div>

          <div class="step-section">
            <div class="title">
              <span class="step">3</span>
              <h3>Select recipient location</h3>
            </div>
            <div class="clearfix"></div>

            <div class="row form-group">
              <fieldset>
                <legend>Select EITHER a country OR a region</legend>
                <p class="explaination-text">Choosing a Region AND a Country will not return data as most publishers report to either a Country or a Region.</p>
                <div class="errorbox-good">
                  <div dir="ltr">
                    <div>
                      <label for="recipient-country">
                        <div>
                          <span class="tooltip-ui" data-toggle="tooltip" title="Choose the recipient country or countries you are looking for.">
                            Select recipient country
                          </a>
                        </div>
                      </label>
                      <div class="clearfix"></div>
                      <select data-placeholder="Choose a country..." multiple class="chosen-select form-control" id="recipient-country" name="recipient-country[]">
                        {{ include('include/country.html') }}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="errorbox-good">
                  <div dir="ltr">
                    <div>
                      <label for="recipient-region">
                        <div>
                          <span class="tooltip-ui" data-toggle="tooltip" title="Selecting a region will return activities that publishers have been unable to allocate to specific countries.">
                            Select region (eg South Asia = 679)
                          </a>
                        </div>
                      </label>
                      <div class="clearfix"></div>
                      <select data-placeholder="Choose a region..." multiple class="chosen-select form-control" id="recipient-region" name="recipient-region[]">
                        {{ include('include/region.html') }}
                      </select>
                      <p class="explaination-text"><strong>WARNING:</strong> Regions do not automatically contain the countries they are made up of.</p>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>


          <div class="step-section">
            <div class="title">
              <span class="step">4</span>
              <h3>Select additional fields</h3>
            </div>
            <div class="clearfix"></div>

            <div class="row form-group">
              <div class="col-auto">
                <label>
                  <div>
                    <span class="tooltip-ui" data-toggle="tooltip" title="Specify the range of activity start dates that you are looking for (defaults to all).">
                      Select start date
                    </span>
                  </div>
                </label for="start_date">
                <div class="clearfix"></div>
                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                  <div class="input-group-addon">
                    <span class="tooltip-ui" data-toggle="tooltip" title="Identify activities with start dates after the specified date.">
                      After
                    </span>
                  </div>
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="start_date__gt" name="start_date__gt" value="{{ start_date__gt }}">
                  </input>
                </div>
                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                  <div class="input-group-addon">
                    <span class="tooltip-ui" data-toggle="tooltip" title="Identify activities with start dates before the specified date.">
                      Before
                    </span>
                  </div>
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="start_date__lt" name="start_date__lt" value="{{ start_date__lt }}">
                  </input>
                </div>
              </div>
              <div class="col-auto">
                <label>
                  <div>
                    <span class="tooltip-ui" data-toggle="tooltip" title="Specify the range of activity end dates that you are looking for (defaults to all).">
                      Select end date
                    </span>
                  </div>
                </label for="end_date">
                <div class="clearfix"></div>
                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                  <div class="input-group-addon"/>
                    <span class="tooltip-ui" data-toggle="tooltip" title="Identify activities with end dates after the specified date.">
                      After
                    </span>
                  </div>
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="end_date__gt" name="end_date__gt" value="{{ end_date__gt }}">
                  </input>
                </div>
                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                  <div class="input-group-addon">
                    <span class="tooltip-ui" data-toggle="tooltip" title="Identify activities with end dates before the specified date.">
                      Before
                    </span>
                  </div>
                  <input class="form-control" placeholder="yyyy-mm-dd" type="text" id="end_date__lt" name="end_date__lt" value="{{ end_date__lt }}">
                  </input>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="transaction_provider-org">
                <div>
                  <span class="tooltip-ui" data-toggle="tooltip" title="Find activities where at least one transaction is funded by the specified entity.">
                    Select transaction provider org
                  </span>
                </div>
              </label>
              <div class="clearfix"></div>
              <select data-placeholder="Choose a transaction provider organisation..." multiple class="chosen-select form-control" id="transaction_provider-org" name="transaction_provider-org[]">
                {{ include('include/transaction_provider_org.html') }}
              </select>
            </div>

            <div class="row form-group">
              <label for="participating-org">
                <div>
                  <span class="tooltip-ui" data-toggle="tooltip" title="Find activities where the speficied entity is listed as a participating organisation.">
                    Select participating organisation
                  </span>
                </div>
              </label>
              <div class="clearfix"></div>
              <select data-placeholder="Choose a participating organisation..." multiple class="chosen-select form-control" id="participating-org" name="participating-org[]">
                {{ include('include/participating_org.html') }}
              </select>
            </div>
          </div>


          <div class="step-section">
            <div class="title">
              <span class="step">5</span>
              <h3>How would you like to view this information?</h3>
            </div>
            <div class="clearfix"></div>
            <p>These options allow you to configure the way in which your data is disaggregated, making different sorts of analysis possible.</p>

            <div class="form-row">
              <div class="col">
                <label for="format">
                  <div>Choose format
                    <span aria-label="(Required field)"></span>
                  </div>
                </label>
                <ul id="qb-format-list">
                  <li>
                    <label>
                      <input type="radio" name="format" value="activity" id="format-1" aria-label="Activity"
                      {% if not format or (format and format == "activity") %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-toggle="tooltip" title="Each row contains a unique activity. Financial information is aggregated. Budget information is excluded. Other potentially repeating fields (such as sectors) are reported in a single cell, delimited by semi-colons.">
                        One activity per row
                      </a>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio" name="format" value="transaction" id="format-2" aria-label="Transaction"
                      {% if format and format == "transaction" %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-html="true" data-toggle="tooltip" title="Each row contains a unique financial transaction. The parent activity identifier and other activity-level fields are repeated for each transaction.<br/>If you are looking to analyse activity finances by year you need to select “Transactions” and calculate the year from the transaction date.">
                        One transaction per row
                      </a>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio" name="format" value="budget" id="format-3" aria-label="Budget"
                      {% if format and format == "budget" %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-toggle="tooltip" title="Each row contains a budget-period entry. Transaction data is not included. The parent activity identifier and other activity-level fields are repeated for each budget line.">
                        One budget per row
                      </a>
                    </label>
                  </li>
                </ul>
              </div>

              <div class="col">
                <label for="grouping">
                  <div>Repeat rows?
                    <span aria-label="(Required field)"></span>
                  </div>
                </label>
                <ul id="qb-grouping-list">
                  <li>
                    <label>
                      <input type="radio" name="grouping" value="summary" id="grouping-1" aria-label="Summary"
                      {% if not grouping or (grouping and grouping == "summary") %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-toggle="tooltip" title="Information is not disaggregated, leading to repeated rows.">
                        No
                      </a>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio" name="grouping" value="by_sector" id="grouping-2" aria-label="By Sector"
                      {% if grouping and grouping == "by_sector" %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-toggle="tooltip" title="Each Activity, Transaction or Budget row is repeated for each separate Sector reported. The corresponding percentage for the sector split is reported in a separate column. This allows you to easily add arithmetic to your spreadsheet to calculate values proportionately.">
                        Multi-sector expansion
                      </a>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio" name="grouping" value="by_country" id="grouping-3" aria-label="By Country"
                      {% if grouping and grouping == "by_country" %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-toggle="tooltip" title="Each Activity, Transaction or Budget row is repeated for each separate Country reported. The corresponding percentage for the sector split is reported in a separate column. This allows you to easily add arithmetic to your spreadsheet to calculate values proportionately.">
                        Multi-country expansion
                      </a>
                    </label>
                  </li>
                </ul>
              </div>

              <div class="col">
                <label for="sample-size">
                  <div>Choose sample size
                    <span aria-label="(Required field)"></span>
                  </div>
                </label>
                <ul id="qb-sample-size-list">
                  <li>
                    <label>
                      <input type="radio" name="sample-size" value="50 rows" id="sample-size-1" aria-label="50 rows"
                      {% if not size or (size and size == "50 rows") %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-toggle="tooltip" title="Preview your selection by viewing only the first 50 rows of data.">
                        50 rows
                      </a>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio" name="sample-size" value="Entire selection" id="sample-size-2" aria-label="Entire selection"
                      {% if size and size == "stream=True" %}
                        checked="checked"
                      {% endif %}
                      />
                      <span class="tooltip-ui" data-toggle="tooltip" title="View all of the data matching your query.">
                        Entire selection
                      </a>
                      <p class="explaination-text"><strong>WARNING:</strong> Depending on the query, this may cause the query to take a long time to return your data.</p>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <br/>
          <div class="form-row">

            <div class="clearfix"></div>

            <div class="col submit-buttons">
              <noscript><button class="btn btn-primary" type="submit">Build Query</button></noscript>
              <button class="btn btn-secondary" type="reset">Reset</button>
            </div>
          </div>

        </form>

        <div style="width:100%;height:1em"></div>

        <div style="display:none;" class="alert alert-success" id="js-query-link" role="alert">
          <strong>Your link:</strong> <a id="query-link" href="http://datastore.iatistandard.org/api/1/access/activity.csv">http://datastore.iatistandard.org/api/1/access/activity.csv</a> <span id="preview-link-wrapper">(<a id="preview-link" href="http://preview.iatistandard.org/" target="_blank" rel="noopener noreferrer">Preview as XML</a>)</span>
        </div>

      </div><!-- end class="query-builder"-->


      <div class="row footer">
        <div class="col">
          <p>IATI Query Builder is free software licenced under the GNU General Public License.<br/>
          <ul>
            <li><a href="https://github.com/IATI/IATI-Query-Builder" target="_blank" rel="noopener noreferrer nofollow">IATI Query Builder on GitHub</a></li>
            <li>Please report problems to our <a href="https://github.com/IATI/IATI-Query-Builder/issues" target="_blank" rel="noopener noreferrer nofollow">issues list</a>.</li>
            <li>Datastore documentation: <a href="http://datastore.iatistandard.org/" target="_blank" rel="noopener noreferrer">http://datastore.iatistandard.org</a></li>
          </ul>
          </p>
        </div>
      </div><!-- end class="footer"-->


    </div><!-- end class="container"-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="static/js/chosen.jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/datepicker.js" type="text/javascript"></script>

<script type="text/javascript">
$(function() {
  var QueryBuilder = QueryBuilder || {};
  QueryBuilder.LinkGen = QueryBuilder.LinkGen || {};
  QueryBuilder.Preview = QueryBuilder.Preview || {};
  QueryBuilder.Plugins = QueryBuilder.Plugins || {};
  QueryBuilder.UI = QueryBuilder.UI || {};

  /*
    Obtain the format.
  */
  QueryBuilder.LinkGen.getFormat = function(){
    return $('#qb-format-list input:checked').val();
  };

  /*
    Obtain the grouping.
  */
  QueryBuilder.LinkGen.getGrouping = function(){
    var grouping = $('#qb-grouping-list input:checked').val();

    if(grouping === 'summary'){
      return '';
      } else {
        return '/' + grouping;
    }
  };

  /*
    Obtain the sample size
  */
  QueryBuilder.LinkGen.getSampleSize = function(){
    var sampleSize = $('#qb-sample-size-list input:checked').val();

    if(sampleSize === '50 rows'){
      return '';
    } else {
      return 'stream=True'
    }
  };

  /*
    Obtain the calendar date
  */
  QueryBuilder.LinkGen.getCalendarDate = function(id, name){
    var calendarDate = $('#' + id).val();

    if(calendarDate.trim() === ''){
      return '';
    } else {
      return name + '=' + calendarDate;
    }
  };

  /*
    Obtain info for a multi-select.
  */
  QueryBuilder.LinkGen.getMultiSelectInfo = function(name){
    var separator = '%7C';
    var multiSelect = $('[name="' + name + '[]"]');
    var selectedOptions = $('[name="' + name + '[]"] option:checked');
    var values = [];

    // have to use forEach because querySelectorAll is a NodeList which doesn't have a `map()` function
    selectedOptions.each(function(){
        var value = $(this).val();

      // do not include the 'None' values
      if(value !== ''){
        values.push(value);
      }
    });

    if(values.length === 0){
      return '';
    }

    return name + '=' + values.join(separator);
  };

  /*
    Convert an array of query string sections into a query string.
  */
  QueryBuilder.LinkGen.createQueryString = function(sections){
    var filteredSections = sections.filter(function(section){
      return section !== '';
    });

    if(filteredSections.length === 0){
      return '';
    }

    return '?' + filteredSections.join('&');
  };

  /*
    Generate the link from the page.
  */
  QueryBuilder.LinkGen.createLink = function(fileType){
    var baseURL = 'http://datastore.iatistandard.org/api/1/access/';
    var format = QueryBuilder.LinkGen.getFormat();
    var grouping = QueryBuilder.LinkGen.getGrouping();
    var reportingOrgs = QueryBuilder.LinkGen.getMultiSelectInfo('reporting-org');
    var reportingOrgTypes = QueryBuilder.LinkGen.getMultiSelectInfo('reporting-org.type');
    var sectors = QueryBuilder.LinkGen.getMultiSelectInfo('sector');
    var recipientCountries = QueryBuilder.LinkGen.getMultiSelectInfo('recipient-country');
    var recipientRegions = QueryBuilder.LinkGen.getMultiSelectInfo('recipient-region');
    var startDateLT = QueryBuilder.LinkGen.getCalendarDate('start_date__lt', 'start-date__lt');
    var startDateGT = QueryBuilder.LinkGen.getCalendarDate('start_date__gt', 'start-date__gt');
    var endDateLT = QueryBuilder.LinkGen.getCalendarDate('end_date__lt', 'end-date__lt');
    var endDateGT = QueryBuilder.LinkGen.getCalendarDate('end_date__gt', 'end-date__gt');
    var transactionProviderOrgs = QueryBuilder.LinkGen.getMultiSelectInfo('transaction_provider-org');
    var participatingOrgs = QueryBuilder.LinkGen.getMultiSelectInfo('participating-org');
    var sampleSize = QueryBuilder.LinkGen.getSampleSize();
    var queryString = QueryBuilder.LinkGen.createQueryString([
      reportingOrgs,
      reportingOrgTypes,
      sectors,
      recipientCountries,
      recipientRegions,
      startDateLT,
      startDateGT,
      endDateLT,
      endDateGT,
      transactionProviderOrgs,
      participatingOrgs,
      sampleSize
    ]);

    fileType = fileType || '.csv';

    return baseURL + format + grouping + fileType + queryString;
  };

  /*
    Update the link displayed on the page.
  */
  QueryBuilder.LinkGen.updateLink = function(){
    var linkElement = $('#query-link');
    var linkLocation = QueryBuilder.LinkGen.createLink();

    // update the link
    linkElement.attr('href', linkLocation);
    linkElement.text(linkLocation);
  };

  /*
    Set the event listeners for the generated link.
  */
  QueryBuilder.LinkGen.SetupEventListeners = function(){
    var formElements = $('select, input[type=text], input[type=radio]');

    formElements.change(QueryBuilder.LinkGen.updateLink);
    };

  /*
    Initialise the client-side link generation.
  */
  QueryBuilder.LinkGen.Init = function(){
    $('#js-query-link').show();

    QueryBuilder.LinkGen.SetupEventListeners();
    QueryBuilder.LinkGen.updateLink();
  };

  /*
    Generate the link to the Preview tool.
  */
  QueryBuilder.Preview.createLink = function(){
    var unescapedLink = QueryBuilder.LinkGen.createLink('.xml');
    var previewBaseURL = 'http://preview.iatistandard.org/index.php?url=';

    // ensure it's only a Preview and not the full set of data being viewed
    var sampleSize = QueryBuilder.LinkGen.getSampleSize();

    if(sampleSize.length > 0){
      unescapedLink = unescapedLink.replace(sampleSize, '');
    }

    return previewBaseURL + encodeURIComponent(unescapedLink);
  };

  /*
    Update the integration with the Preview tool.
  */
  QueryBuilder.Preview.updateLink = function(){
    var previewButtonElement = $('#preview-link');

    previewButtonElement.attr('href', QueryBuilder.Preview.createLink());
    QueryBuilder.Preview.updateVisibility();
  };

  /*
    Changes the Preview link visibility based on whether the data can be viewed using the Preview Tool.
  */
  QueryBuilder.Preview.updateVisibility = function(){
    var format = QueryBuilder.LinkGen.getFormat();
    var grouping = QueryBuilder.LinkGen.getGrouping();
    var canPreview = (format === 'activity') && (grouping === '');
    var previewWrapper = $('#preview-link-wrapper');

    if(canPreview){
      previewWrapper.show();
    } else {
      previewWrapper.hide();
    }
  };

  /*
    Set the event listeners for the preview integration
  */
  QueryBuilder.Preview.SetupEventListeners = function(){
    var formElements = $('select, input[type=text], input[type=radio]');

    formElements.change(QueryBuilder.Preview.updateLink);
  };

  /*
    Initialise the preview integration.
  */
  QueryBuilder.Preview.Init = function(){
    QueryBuilder.Preview.SetupEventListeners();
    QueryBuilder.Preview.updateLink();
  };

  /*
    Initialise plugins and 3rd party code.
  */
  QueryBuilder.Plugins.Init = function(){
    // remove '- None -' values from selects (they don't play nicely with chosen)
    $('select option[value=""]').remove();

    // initialise chosen
    $(".chosen-select").chosen();

    $('#qb-form').on('reset', QueryBuilder.UI.resetSelection);

    // init tooltips
    $('[data-toggle="tooltip"]').tooltip();
  };

  /*
    Reset the values selected in the form.
  */
  QueryBuilder.UI.resetSelection = function(){
    setTimeout(function(){
      $(window).scrollTop(0);

      $(".chosen-select").trigger("chosen:updated");

      QueryBuilder.LinkGen.updateLink();
      QueryBuilder.Preview.updateLink();
    });
  };

  /*
    Initialise the Query Builder JS.
  */
  QueryBuilder.Init = function(){
    QueryBuilder.LinkGen.Init();
    QueryBuilder.Preview.Init();
    QueryBuilder.Plugins.Init();
  };

  QueryBuilder.Init();
});
</script>

  </body>
</html>
