<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IATI Data Store CSV Query Builder (Alpha Version)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="custom.css" type="text/css" rel="stylesheet">
  </head>
  <body dir="ltr">
    <div class="container">
      <div class="header row">
        <div class="col">
          <h1 dir="ltr">IATI Data Store CSV Query Builder (Alpha Version)</h1>
          <p>Please read the <a href="http://datastore.iatistandard.org/docs/user-guide/">user guide</a></p>
        </div>
      </div><!-- end class="header" -->

      <div class="query-builder">
        <div class="row"><!-- result -->
          {% if api_link %}
            <div class="alert alert-success" role="alert">
              <p>Your link:<br />
                <a href="{{ api_link }}">{{ api_link|escape }}</a>
              </p>
            </div>

          {% if notice_message %}
            <div class="alert alert-warning" role="alert">
              {{ notice_message }}
            </div>
          {% endif %}

          {% elseif error_message %}
            <div class="alert alert-danger" role="alert">
              {{ error_message }}
            </div>
          {% endif %}
        </div>

        <form action="index.php" method="post" id="ss-form" target="_self" onsubmit="">

          <div class="form-row">
            <div class="col">
              <label class="ss-q-item-label" for="entry_1689841214">
                <div class="ss-q-title">Choose Format
                  <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                </div>
              </label>
              <ul class="ss-choices">
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.1085079344" value="activity" id="group_1085079344_1" class="ss-q-radio" aria-label="Activity"
                    {% if not dataset or (dataset and dataset == "activity") %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">One Activity per row</span>
                  </label>
                </li>
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.1085079344" value="transaction" id="group_1085079344_2" class="ss-q-radio" aria-label="Transaction"
                    {% if dataset and dataset == "transaction" %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">One Transaction per row</span>
                  </label>
                </li>
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.1085079344" value="budget" id="group_1085079344_3" class="ss-q-radio" aria-label="Budget"
                    {% if dataset and dataset == "budget" %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">One Budget per row</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="col">
              <label class="ss-q-item-label" for="entry_1948547450">
                <div class="ss-q-title">Repeat Rows?
                  <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                </div>
              </label>
              <ul class="ss-choices">
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.71167035" value="summary" id="group_71167035_1" class="ss-q-radio" aria-label="Summary"
                    {% if not format or (format and format == "summary") %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">No</span>
                  </label>
                </li>
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.71167035" value="by_sector" id="group_71167035_2" class="ss-q-radio" aria-label="By Sector"
                    {% if format and format == "by_sector" %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">Multi-Sector expansion</span>
                  </label>
                </li>
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.71167035" value="by_country" id="group_71167035_3" class="ss-q-radio" aria-label="By Country"
                    {% if format and format == "by_country" %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">Multi-Country expansion</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="col">
              <label class="ss-q-item-label" for="entry_1414120858">
                <div class="ss-q-title">Choose Sample Size
                  <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                </div>
              </label>
              <ul class="ss-choices">
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.1352830161" value="50 rows" id="group_1352830161_1" class="ss-q-radio" aria-label="50 rows"
                    {% if not size or (size and size == "50 rows") %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">50 rows</span>
                  </label>
                </li>
                <li class="ss-choice-item">
                  <label>
                    <input type="radio" name="entry.1352830161" value="Entire selection" id="group_1352830161_2" class="ss-q-radio" aria-label="Entire selection"
                    {% if size and size == "stream=True" %}
                      checked="checked"
                    {% endif %}
                    />
                    <span class="ss-choice-label">Entire selection</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="row form-control">
            <label class="ss-q-item-label" for="entry_1922375458">
              <div class="ss-q-title">Select Reporting Organisation (eg UK DFID = GB-GOV-1)</div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
            </label>
            <select multiple="multiple" name="entry.1922375458[]" size="6" value="" class="ss-q-short" id="entry_1922375458[]">
              {{ include('include/reporting_org.html') }}
            </select>
          </div>

          <div class="row form-control">
            <label class="ss-q-item-label" for="entry_18398991">
              <div class="ss-q-title">Select Type of Reporting Organisation (eg. INGO = 21)</div>
            </label>
            <select multiple="multiple" name="entry.18398991[]" size="6" value="" class="ss-q-short" id="entry_18398991[]">
              {{ include('include/reporting_org_type.html') }}
            </select>
          </div>

          <div class="row form-control">
            <label class="ss-q-item-label" for="entry_1954968791">
              <div class="ss-q-title">Select Sector (eg Basic Health Care = 12220)</div>
            </label>
            <select multiple="multiple" name="entry.1954968791[]" size="10" value="" class="ss-q-short" id="entry_1954968791[]">
              {{ include('include/sector.html') }}
            </select>
          </div>

          <div class="row form-control">
            <fieldset>
              <legend>Select EITHER a country OR a region</legend>
              <div class="errorbox-good">
                <div dir="ltr" class="ss-item  ss-text">
                  <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_605980212">
                      <div class="ss-q-title">Select Country (eg DRC = CD)</div>
                    </label>
                    <select multiple="multiple" name="entry.605980212[]" size="6"value="" class="ss-q-short" id="entry_605980212[]">
                      {{ include('include/country.html') }}
                    </select>
                  </div>
                </div>
              </div>
              <div class="errorbox-good">
                <div dir="ltr" class="ss-item  ss-text">
                  <div class="ss-form-entry">
                    <label class="ss-q-item-label" for="entry_1179181326">
                      <div class="ss-q-title">Select Region (eg South Asia = 679)</div>
                    </label>

                    <select multiple="multiple" name="entry.1179181326[]" size="6" value="" class="ss-q-short" id="entry_1179181326[]" >
                      {{ include('include/region.html') }}
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="form-row">
            <div class="col">
              <button class="btn btn-primary" type="submit">Submit</button>
              <button class="btn btn-secondary" type="reset">Reset</button>
            </div>
          </div>

        </form>

      </div><!-- end class="query-builder"-->


      <div class="row footer">
        <div class="col">
          <p>IATI Query Builder is free software licenced under the GNU General Public License.<br/>
          <ul>
            <li><a href="https://github.com/IATI/IATI-Query-Builder" target="_blank" rel="noopener noreferrer nofollow">IATI Query Builder on GitHub</a></li>
            <li>Please report problems to our <a href="https://github.com/IATI/IATI-Query-Builder/issues" target="_blank" rel="noopener noreferrer nofollow">issues list</a>.</li>
            <li>Datastore documentation: <a href="http://datastore.iatistandard.org/" target="_blank" rel="noopener noreferrer">http://datastore.iatistandard.org</a></li>
          </ul>
          </p>
        </div>
      </div><!-- end class="footer"-->


    </div><!-- end class="container"-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
