<label for="sector">
  <div>
    <span class="tooltip-ui" data-toggle="tooltip" title="Choose the sector or sectors you are looking for.">
      Select sector (eg Basic Health Care = 12220)
    </a>
  </div>
</label>
<div class="clearfix"></div>
<select data-placeholder="Choose a sector..." multiple class="chosen-select form-control" id="sector" name="sector[]">
  <option value="">- None -</option>
  {% for sector in sector_categories %}
    <option value="{{ sector['code'] }}"
    {% if selected_sectors and sector[0] in selected_sectors %}
      selected="selected"
    {% endif %}
    >{{ sector['code'] }}: {{ sector['name'] }}</option>
  {% endfor %}
</select>
<p class="explaination-text">For more detail of what the sectors are, see the <a href="http://iatistandard.org/202/codelists/Sector" rel="noopener noreferrer" target="_blank">DAC 5 Digit Sector</a> codelist.</p>
